.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background: linear-gradient(135deg, #c2e9fb, pink, rgb(89, 89, 172));
}

.login_input {
  width: 250px;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.login-button {
  padding: 8px 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  background-color: teal;
  color: white;
  cursor: pointer;
}
.login-button:hover {
  background-color: darkcyan;
}
